@charset "UTF-8";
@font-face {
  font-family: 'IRANSans-web';
  src: url("../font/Iran Sans/IRANSansWeb_Light.eot");
  src: url("../font/Iran Sans/IRANSansWeb_Light.eot?#iefix") format("eot"), url("../font/Iran Sans/IRANSansWeb_Light.woff2") format("woff2"), url("../font/Iran Sans/IRANSansWeb_Light.woff") format("woff"), url("../font/Iran Sans/IRANSansWeb_Light.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'IRANSans-web';
  src: url("../font/Iran Sans/IRANSansWeb_Bold.eot");
  src: url("../font/Iran Sans/IRANSansWeb_Medium.eot?#iefix") format("eot"), url("../font/Iran Sans/IRANSansWeb_Medium.woff2") format("woff2"), url("../font/Iran Sans/IRANSansWeb_Medium.woff") format("woff"), url("../font/Iran Sans/IRANSansWeb_Medium.ttf") format("ttf");
  font-weight: bold;
  font-style: normal; }

.main {
  margin-top: 69px; }

/* ...New Record partials... */
/*
* A panel in new post section that you can upload attachment file or files to that post
*/
.attachment-area.message .header {
  font-size: 1.05rem; }

.attachment-area.message .divider.ui {
  margin-top: .5rem; }

.attachments {
  text-align: center; }
  .attachments::after {
    content: '';
    clear: both;
    display: block; }
  .attachments .item {
    border: 1px solid #efefef;
    background-color: #fbfbfb;
    padding: 4px 8px;
    display: inline-block;
    width: 48%;
    height: 65px;
    overflow: hidden;
    margin: 0 0 8px 8px; }
    .attachments .item > .filetype {
      float: right;
      width: 17%;
      height: 58px;
      height: 100%;
      padding: 5px 0; }
      .attachments .item > .filetype img {
        width: auto;
        height: 100%; }
    .attachments .item > .body {
      text-align: right;
      float: right;
      width: 70%; }
      .attachments .item > .body .file-title {
        font-size: 1rem;
        margin-bottom: .35rem;
        color: #005E94; }
      .attachments .item > .body label {
        display: block;
        font-weight: bold;
        font-size: .8rem;
        line-height: 1.1rem;
        color: #808080; }
        .attachments .item > .body label::before {
          font-weight: normal;
          color: #B3B3B3; }
      .attachments .item > .body .filesize::before {
        content: 'حجم فایل : '; }
      .attachments .item > .body .orig-name::before {
        content: 'نام اصلی :'; }
    .attachments .item .delete-button {
      height: 100%;
      float: right;
      width: 13%;
      text-align: center;
      line-height: 60px; }
      .attachments .item .delete-button span {
        font-size: .85rem;
        opacity: 0;
        display: inline;
        cursor: pointer;
        padding: 3px 6px;
        color: #bbb; }
        .attachments .item .delete-button span:hover {
          background-color: #f0f0f0;
          color: #fe8787; }
    .attachments .item:hover .delete-button span {
      opacity: 1; }

.thumbnail-upload-modal {
  /* to hide file input element */ }
  .thumbnail-upload-modal .file-input {
    display: none; }
  .thumbnail-upload-modal > .image.content {
    display: block !important; }
    .thumbnail-upload-modal > .image.content .buttons {
      position: relative; }
      .thumbnail-upload-modal > .image.content .buttons label.message {
        display: block;
        position: absolute;
        bottom: 0;
        right: 18px;
        font-size: 1.1rem;
        color: #6bb16b; }
    .thumbnail-upload-modal > .image.content .image-canvas .image-wrapper {
      width: 400px;
      height: 250px; }
      .thumbnail-upload-modal > .image.content .image-canvas .image-wrapper.bgc {
        background-color: #eee; }
    .thumbnail-upload-modal > .image.content .image-canvas img {
      max-width: 100%; }
