@font-face {
  font-family:'IRANSans-web';
  src:  url("../font/Iran Sans/IRANSansWeb_Light.eot");
  src:  url("../font/Iran Sans/IRANSansWeb_Light.eot?#iefix") format("eot"),
  url("../font/Iran Sans/IRANSansWeb_Light.woff2") format("woff2"),
  url("../font/Iran Sans/IRANSansWeb_Light.woff") format("woff"),
  url("../font/Iran Sans/IRANSansWeb_Light.ttf") format("ttf");
  font-weight:normal;
  font-style: normal;
}
@font-face {
  font-family:'IRANSans-web';
  src:  url("../font/Iran Sans/IRANSansWeb_Bold.eot");
  src:  url("../font/Iran Sans/IRANSansWeb_Medium.eot?#iefix") format("eot"),
        url("../font/Iran Sans/IRANSansWeb_Medium.woff2") format("woff2"),
        url("../font/Iran Sans/IRANSansWeb_Medium.woff") format("woff"),
        url("../font/Iran Sans/IRANSansWeb_Medium.ttf") format("ttf");
  font-weight:bold;
  font-style: normal;
}