@for $i from 1 through 16{
  .col-#{$i}{
    width: $i/16*100%;
    display: inline-block;
    float: right;
  }
}

*[class*='col']{
  display: inline-block;
  float: right;
  .row{
    margin: 5px;
  }
}

.row{
  display: block;
  background-color: white;
  &:after{
    display: block;
    content: '';
    clear: both;
  }
}

.raw{
  display: block;
  &:after{
    display: block;
    content: '';
    clear: both;
  }
}