@font-face {
  font-family:'IRANSans-web';
  src:  url("#{$iransans-font-path}IRANSansWeb_Light.eot");
  src:  url("#{$iransans-font-path}IRANSansWeb_Light.eot?#iefix") format("eot"),
  url("#{$iransans-font-path}IRANSansWeb_Light.woff2") format("woff2"),
  url("#{$iransans-font-path}IRANSansWeb_Light.woff") format("woff"),
  url("#{$iransans-font-path}IRANSansWeb_Light.ttf") format("ttf");
  font-weight:normal;
  font-style: normal;
}

@font-face {
  font-family:'IRANSans-web';
  src:  url("#{$iransans-font-path}IRANSansWeb_Bold.eot");
  src:  url("#{$iransans-font-path}/IRANSansWeb_Medium.eot?#iefix") format("eot"),
  url("#{$iransans-font-path}IRANSansWeb_Medium.woff2") format("woff2"),
  url("#{$iransans-font-path}IRANSansWeb_Medium.woff") format("woff"),
  url("#{$iransans-font-path}IRANSansWeb_Medium.ttf") format("ttf");
  font-weight:bold;
  font-style: normal;
}

@font-face {
  font-family: 'Material-icons';
  font-style: normal;
  font-weight: 400;
  src: url("#{$material-icon-font-path}MaterialIcons-Regular.eot"); /* For IE6-8 */
  src: local('Material-icons'),
  local('MaterialIcons-Regular'),
  url("#{$material-icon-font-path}MaterialIcons-Regular.woff2") format('woff2'),
  url("#{$material-icon-font-path}MaterialIcons-Regular.woff") format('woff'),
  url("#{$material-icon-font-path}MaterialIcons-Regular.svg") format('svg'),
  url("#{$material-icon-font-path}MaterialIcons-Regular.ttf") format('truetype');
}