section#main-area{
	float: right;
	width: (800px-16px);
	@media screen and (min-width: 320px) and (max-width: 1200px){
		width: 100%;
	}
	margin-left:16px;
	#postcontent{
		background-color: $white;
		border:2px solid darken($grayscale-2,1);
		border-radius:1rem;
		overflow: hidden;
		padding-bottom:2rem;
		#header-section{
			h1.headline{
				margin: 0;
				padding:0;
				a{
					display: block;
					padding:1.5rem 3rem 1.5rem;
					color:$post-title-color;
					font-size:2.2rem;
					line-height:2.9rem;
					&:hover,&:active{
						color:$post-title-color-hover;
					}
				}
			}
			section#details{
				@extend %no-select;
				ul{
					padding:0 0 .5rem;
					margin:0 3rem 2rem;
					display: block;
					border-bottom:1px solid $grayscale-2;
					vertical-align: middle;
					li{
						vertical-align: middle;
						display: inline-block;
						font-size:.9rem;
						font-weight: bold;
						color:$grayscale-5;
						margin-left:1rem;
						&::before{
							font-weight: normal;
							font-size:.8rem;
							color:$grayscale-4;
						}
						&.author::before{
							content:'نوشته شده توسط '
						}
						&.date::before{
							content:'در تاریخ '
						}
						&.time::before{
							content:'در ساعت '
						}
					}
				}
			}
			section#thumbnail-area{
				@extend .clearfix;
				display: block;
				img{
					width: 100%;
					height:auto;
				}
			}

		}
		#text-area{
			display: block;
			margin:0 3rem;
			*{
				font-size: 1.1rem !important;;
				color:$post-text-color;
				line-height: 2.2rem !important;
				text-align: justify;
				font-weight: normal ;
			}

			p{
				margin-bottom:1rem;
			}
			a{
				display: inline-block;
				margin:0 .2rem;
				color:$au-red;
			}
			blockquote{
				padding: .5rem 3rem;
				font-size:1.25rem !important;
				border-right:6px solid $grayscale-2;
				margin-bottom:1rem;
			}
			img{
				width: 100%;
				height:auto;
				margin:.5rem 0 1.5rem;
			}
			strong{
				font-weight: bold;
			}
			ul{
				margin-bottom:1rem;
				padding: 0;
				li{
					list-style-type: none;
					margin: 0 .5rem 0 0 ;
					display: block;
					padding:0 2rem 0;
					position: relative;
					&::before{
						content:'remove';
						font-family:$Material-icon;
						position: absolute;
						right: 0;
						font-size:1.4rem;
						top:.5rem;
						color:$grayscale-7;
						text-transform: none;
						letter-spacing: normal;
						word-wrap: normal;
						white-space: nowrap;
						overflow: hidden;
						vertical-align: middle;
					}
				}
				&.tick{
					li::before{
						content:'done';
					}
				}
				&.round{
					li::before{
						content:'lens';
						font-size:.5rem;
						top:10px;
					}
				}
				&.arrow{
					li::before{
						content:'chevron_left';
						font-size:1.3rem;
						top:10px;
					}
				}
				&.star{
					li::before{
						content:'star';
						font-size:1rem;
						top:9px;
					}
				}
			}
		}
		#attachments{
			text-align: center;
			padding:3rem 1rem 1rem;
			position: relative;
			&::after{
				width: 88%;
				height:2px;
				background-color: $grayscale-2;
				content: '';
				display: block;
				position: absolute;
				top:15px;
				padding:0 1rem;
				right: 50%;
				margin-right:-44%;;
			}
			&::before{
				content:'فایل‌های ضمیمه';
				position: absolute;
				background-color: $white;
				top:2px;
				z-index: 100;
				right: 50%;
				margin-right: -8%;
				padding:.3rem 1rem;
				font-size:.95rem;
				font-weight: bold;
				color:$grayscale-4;
				
			}
			.attachment{
				cursor: default;
				display: inline-block;
				width: 180px;
				border-radius:1rem;
				border:2px solid $grayscale-2;
				box-shadow: 0 2px 2px $grayscale-2;
				margin:0 .35rem .8rem;
				&:hover{
					box-shadow:0 3px 5px darken($grayscale-2,8);
					.thumbnail{
						opacity:.90;
					}
				}
				.thumbnail{
					height:100px;
					text-align: center;
					padding:.8rem;
					opacity:.75;
					img{
						height: 100%;
						width:auto;
					}
				}
				label.title{
					display: block;
					font-weight: bold;
					color:$attachment-title-color;
					padding:.1rem .5rem;
					font-size:1.02rem;
					line-height:1.23rem;
					height: 2.5rem;
					overflow: hidden;
				}
				ul{
					@extend .clearfix;
					padding:.5rem .5rem .2rem;
					li{
						list-style:none;
						padding:.1rem 0;
					}
					li.type{
						@extend %text-ellipse;
						float: right;
						width: 40%;
						font-size:.75rem;
						color:$grayscale-5;
						text-align: right;
					}
					li.download-times{
						@extend li.type;
						width: 60% !important;
						text-align: left !important;
					}
					li.original-name{
						@extend li.type;
						text-align: center;
						overflow: hidden;
						text-overflow:ellipsis;
						white-space:nowrap;
						width: 100% !important;
						padding:.2rem;
						color: $grayscale-4
					}
					li.download{
						.btn{
							width: 100%;
							padding:.4rem ;
							font-size:.8rem;
							font-weight:normal;
							background-color: transparent;
							color:$grayscale-5;
							&:hover{
								background-color: $download-button-color;
								color:$white;
								font-weight: bold;
							}
						}
					}
				}
			}
		}
		#related-posts{
			text-align: center;
			display: block;
			padding: 3rem 2rem 0rem;
			position: relative;
			&::after{
				width: 88%;
				height:2px;
				background-color: $grayscale-2;
				content: '';
				display: block;
				position: absolute;
				top:15px;
				padding:0 1rem;
				right: 50%;
				margin-right:-44%;;
			}
			&::before{
				content:' مطالب مرتبـط ';
				position: absolute;
				background-color: $white;
				top:2px;
				z-index: 100;
				right: 50%;
				margin-right: -8%;
				padding:.3rem 1rem;
				font-size:.95rem;
				font-weight: bold;
				color:$grayscale-4;

			}
			.post-item{
				overflow: hidden;
				display: inline-block;
				width: 220px;
				max-height: 300px;
				background-color: $white;
				border-radius: .5rem;
				margin:0 .3rem .6rem;
				&:hover{
					transition: all .5s;
					.thumbnail{
						position: relative;
						&::after{
							display: block;
							content:'';
							position: absolute;
							width: 100%;
							height: 100%;
							top: 0;
							right: 0;
							//background-color: rgba(black,.8);
							background: radial-gradient(ellipse at center, rgba(32,124,202,0) 0%,rgba(23,91,147,0) 27%,rgba(0,0,0,0.4) 100%);
						}
						img{
							transition: all .15s;
							transform: rotate(-3deg) scale(1.1,1.1);
						}
					}
					.body{
						.title{
							color:lighten($related-post-title-color,5);
						}
					}
				}
				.thumbnail{
					width: 100%;
					height: 137px;
					overflow: hidden;
					text-align: center;
					img{
						transition: all .1s;
						width: 100%;
						height:auto;
						display: block;
					}
				}
				.body{
					padding:.5rem .7rem;
					border:{
						width:0 2px 2px;
						style:solid;
						color:$grayscale-2;
					}
					border-radius:0 0 .5rem .5rem;
					a.title{
						display: block;
						font-size:.85rem;
						color:$related-post-title-color;
						line-height:1.2rem;
						font-weight: bold;
					}
					ul.details{
						@extend .clearfix;
						display: block;
						padding:.8rem 0 0;
						li{
							text-align: right;
							list-style-type: none;
							font-size:.8rem;
							color:$grayscale-5;
							float: right;
							width: 50%;
							&.ago{
								text-align: left;
							}
						}
					}
				}
			}
		}
	}
}